<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="register-container">
          <!-- Nombre -->
          <ion-item lines="full">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="name" type="text" placeholder="Nombre completo"></ion-input>
          </ion-item>

          <!-- Correo -->
          <ion-item lines="full">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="email" type="email" placeholder="Correo electrónico"></ion-input>
          </ion-item>

          <!-- Contraseña -->
          <ion-item lines="full">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
          </ion-item>

          <!-- Botón Registro -->
          <ion-button expand="block" color="success" (click)="register()">
            Crear cuenta
          </ion-button>

          <!-- Botón Login -->
         <ion-button expand="block" fill="clear" (click)="goToLogin()">
             ¿Ya tienes cuenta? Inicie sesión
        </ion-button>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
